@import "../../styles/helpers";

.row {
  display: flex;
  @include t {
    display: block;
  }
}
.col {
  &:first-child {
    flex: 0 0 calc(100% - 340px);
    width: calc(100% - 340px);
    padding-right: 8px;
    @include d {
      flex: 0 0 calc(100% - 296px);
      width: calc(100% - 296px);
    }
    @include t {
      width: 100%;
      padding: 0;
    }
  }
  &:nth-child(2) {
    flex-shrink: 0;
    width: 340px;
    @include d {
      width: 296px;
    }
    @include t {
      width: auto;
    }
  }
}
.card {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}